/* Styling */
body * {
	vertical-align: top;
}

body, html {
	padding: 0;
	margin: 0;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: lighter;
	color: rgb(65, 65, 65);
}

a {
	text-decoration: none;
}

h2 {
	font-weight: lighter;
}

blockquote {
	font-style: italic;
	color: rgb(74, 73, 73); 
	margin: 17px 40px 0px 24px;
	font-size: 18px;
}

/* Utilities */
.container {
	width: 960px;
	margin: 0px auto;
	position: relative;
}

/*Navbar*/
.navbar {
	background-image: url(old-raven.png); 
	height: 60px;
}

.navbar .logo {
	margin-top: 7px;
	height: 43px;
}

.navbar ul {
	list-style: none;
	display: inline-block;
	margin: 10px 37px 0px;
	padding: 0px;
}

.navbar li {
	display: inline-block;
	text-transform: uppercase;
	line-height: 36px;
	padding: 0px 37px 0px 0px;
	color: white;
	text-shadow: 0 1px 1px #000;
	letter-spacing: 1px;
}

.navitem {
	width: 600px;
	margin: 0px;
	margin-right: 0px;
	display: inline-block;
}

.navitem img {
	display: inline-block;
	width: 176px;
	margin-left: -7px;
}

.profilelist {
	display: inline-block;
	color: white;
	position: absolute;
	right: 0;
	padding-right: 18px;
}

.profilelist img {
	border-radius: 50px;
	height: 50px;
	display: inline-block;
	margin-top: 5px;
	box-shadow: 0 0 .5em black;
}

.profilelist .user-name {
	display: inline-block;
	padding: 18px 5px 0px;
	text-shadow: 0 1px 1px #000;
}

.user-menu-button {
	height: 20px;
	width: 20px;
	background: url(triangle.png) center center;
	display: inline-block;
	margin-top: 19px;
}
/** Begin Tagline **/
.tagline {
	background: rgb (255, 255, 255);
	font-size: 31px;
	height: 87px;
	box-shadow: 2px 2px 3px #D8D8D8;
	z-index: 10;
	position: relative;
	font-weight: lighter;
	line-height: 87px;
}

.tagline p {
	color: rgb(76, 76, 76);
	margin: 0px;
}

/** Begin Content-Top **/

.content-priority {
	background: rgb(243, 241, 237);
	height: 549px;
	padding-top: 30px;
	border-bottom: 1px solid rgb(217, 217, 217);
}

/*Begin Left Content*/

.content-top-left {
	width: 620px;
	height: 550px;
	display: inline-block;
}

.content-top-left .fineprint {
	margin-top: 5px;
	padding-left: 28px;
}

.content-top-leftbottom {
	width: 620px;
	height: 485px;
	background: rgb(212, 208, 201);
}

.content-top-left-main {
	background: url(mob-image.png) center center;
	height: 400px;
	width: 620px;
	color: white;
	padding-top: 0px;
}

.concert img {
	width: 620px;
	position: relative;
	top: 20px;
}
.img-banner {
	background: rgba(17, 17, 17, 0.5);
	position: relative;
	height: 57px;
}

.img-banner h2 {
	margin: 0px;
	padding: 10px 10px 10px 20px;
}

.banner-title {
	width: 184px;
	display: inline-block;
}

.banner-time {
	display: inline-block;
	position: absolute;
	right: 0;
}

.banner-time img {
	display: inline-block;
	margin-top: 10px;
}

.banner-time p {
	margin: 0px;
	padding: 15px;
	display: inline-block;
	font-size: 15px;
}

.fineprint {
	color: rgb(134, 127, 117);
	font-size: 12px;
	font-weight: lighter;
	padding: 0px 20px;
}

/*Begin Right Content*/
.content-top-right {
	display: inline-block;
	width: 300px;
	margin-left: 20px;
}

.stats {
	margin-bottom: 11px;
}
.mobbers {
	display: inline-block;
	background: rgb(212, 208, 201);
	width: 140px;
	height: 140px;
	margin-right: 16px;
	color: white;
	text-align: center;
	text-shadow:rgb(167, 159, 147) 0 2px;
	position: relative;
}

.mobbers:last-child {
	margin-right: 0px;
}
.stat {
	padding-left: 20px;
}

.mobbers span {
	font-size: 70px;
	line-height: 0px;
	margin: 57px auto 0px auto;
	position: absolute;
	top: 0;
	left: 10px;
	text-align: center;
	display: block;
}

p.stats-label {
	background: rgb(167, 159, 147);
	font-size: 14px;
	color: rgb(50, 50, 50);
	text-shadow:rgb(212, 208, 201) 0 1px;
	font-weight: normal;
	line-height: 35px;
	position: absolute;
	top: 116px;
	padding: 0px;
	width: 140px;
	height: 35px;
	margin: 0px;
	text-transform: uppercase;
}

.content-top-right .button-gold {
	text-align: center;
	border: 1px solid rgb(195, 143, 38);
	width: 300px;
	height: 60px;
	position: relative;
	color: white;
	font-size: 22px;
	line-height: 15px;
	letter-spacing: 1px;
	border-radius: 6px;
	margin: 35px 0px 0px 0px;
	text-shadow: 0 1px 1px rgb(195, 143, 38);
	box-shadow: inset 0 1px 1px #fff,
										0 1px 3px gray;
	background: #fcd833; /* Old browsers */
	background: -moz-linear-gradient(top, #fcd833 0%, #fca52e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd833), color-stop(100%,#fca52e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcd833 0%,#fca52e 100%); /* W3C */
}

.content-top-right .reward {
	width: 280px;
	height: 65px;
	border: 1px solid rgb(170, 165, 158);
	border-radius: 6px;
	margin: -20px 0px 0px 5px;
	background: white;
	box-shadow: inset 0 -3px 1px rgb(230, 225, 219);
	padding: 30px 0px 0px 10px; 
}

.reward span {
	display: block;
	line-height: 20px;
}

.reward-copy {
	display: inline-block;
	padding-top: 5px;
	color: rgb(65, 65, 65);
}

.reward-copy strong {
	font-weight: bolder;
	font-size: 20px;
}

.content-top-right .fineprint {
	border-bottom: 1px solid rgb(170, 165, 158);
	margin-bottom:13px;
	padding-bottom: 17px;
	width: 260px;

}

.social img {
	display: inline-block;
	margin-left: -2px;
}

.social img:first-child {
	margin-left: -6px;
}

/* ribbon style */

.ribbon {
	position: absolute;
	top: 383px;
	left: 0px;
}

.ribbon-wrapper {
	position: relative;
}

.ribbon-front {
	background-color: #F4CA31;	height: 30px;
	width: 147px;
	position: relative;
	left:-7px;
	z-index: 2;
	text-align: center;
	color: white;
	text-transform: uppercase;
	line-height: 30px;
	text-shadow: 0 1px 1px rgb(195, 143, 38);
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

.ribbon-edge-topleft,
.ribbon-edge-topright {
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
	top: 30px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
	left: -7px;
	border-color: transparent #F4CA31 transparent transparent;
}

.ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 7px 0 0;
}

.ribbon-edge-bottomleft {
	border-width: 0 7px 10px 0;
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
	left: 140px;
	border-color: transparent transparent transparent #F4CA31;
}

.ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}

.ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

.ribbon-back-left {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 0px;
	height: 30px;
		z-index: 0;
}

.ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 30px;
		z-index: 0;
}

.ribbon-back {
	height: 19px;
	width: 140px;
	background: #C7934D;
	position: absolute;
	top: 395px;
	left: 0px;
}
/*End Ribbon*/

/*Start Arrow*/
.arrow {
	position: absolute;
	top: 467px;
	left: 7px;
}

/*End Priority Content*/
/*Begin Upcoming Content*/
.upcoming-content {
	background: white;
	padding-top: 38px;
}

.specials {
	height: 285px;
	border-bottom: 1px solid rgb(167, 159, 147);
	width: 945px;
}

.specials span {
	display: block;
}

.special-item {
	display: inline-block;
	position: relative;
	margin-right: 18px;
}

.special-item:last-child {
	margin-right: 0px;
}

.special-offer .fineprint {
	padding: 0px;
}

.time time {
	font-size: 13px;
	line-height: 24px;
}

.special-offer .time {
	display: inline-block;
	padding-left: 43px;
}

.specials .time span {
	margin-top: 10px;
	padding-top: 20px;
	display: inline-block;
}

.offer-info {
	display: inline-block;
}

/*Upcoming Info Styles*/
.upcoming-info {
	padding-bottom: 45px;
	margin-top: 20px;
}

.upcoming-mob {
	display: inline-block;
}

.upcoming-mob th {
	font-weight: bolder;
	text-align: left;
	color: black;
}

/*Start Table*/
.upcoming-table {
	border-spacing: 0;
}

.first-data {
	padding-left: 0px;
}

.upcoming-table td {
	text-align: right;
	padding: 10px 0 10px 65px;
}


.upcoming-table .first-data {
	text-align: left;
	padding: 10px 0 10px 0px;
}

.upcoming-table .date {
	color: rgb(167, 159, 147);
}

.upcoming-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  margin: 0px 0px 25px 0px;
}


tr.border-bottom td {
	border-bottom: 1px solid rgb(167, 159, 147);
}

.border-bottom td .first-data {
	font-weight: bold;
	text-align: right;
}

/*Start a Mob Box Styling*/
.start-mob {
	display: inline-block;
	background: rgb(212, 208, 201);
	padding: 10px 8px;
	margin: 0px 0px 0 19px;
	width: 283px;
}

.start-mob h2 {
	color: white;
	text-align: center;
	margin: 5px 0 5px 0;
	font-weight: bolder;
	text-shadow: rgb(167, 159, 147) 0 2px;
}

.step-number {
	display: inline-block;
	width: 80px;
	text-align: center;
	margin-left: 7px;
}

.numb-btn {
	border-radius: 20px;
	height: 35px;
	width: 35px;
	margin: 6px	auto;
	font-size: 20px;
	line-height: 35px;
	position: relative;
	z-index: 10;
	color: gray;
	text-shadow: 0 1px 1px white;
	border: 1px solid rgb(150, 150, 150);
	box-shadow: inset 0 2px 1px #fff, 0 1px 3px gray;
	background: #d5d5d5; /* Old browsers */
	background: -moz-linear-gradient(top, #d5d5d5 0%, #fcfcfc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d5d5d5 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d5d5d5 0%,#fcfcfc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d5d5d5 0%,#fcfcfc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d5d5d5 0%,#fcfcfc 100%); /* W3C */
}
.step-number .fineprint {
	padding: 0px;
	color: rgb(65, 65, 65);
	line-height: 17px;
}

.step-number .fineprint span {
	line-height: 2px;
}

.start-mob-btn {
	text-align: center;
	border: 1px solid rgb(151, 145, 135);
	width: 279px;
	height: 60px;
	color: rgb(50, 130, 178);
	font-size: 22px;
	line-height: 55px;
	letter-spacing: 1px;
	border-radius: 6px;
	margin: 5px 0px 0px 0px;
	text-shadow: 0 1px 1px #fff;
	box-shadow: inset 0 1px 1px #fff;
	background: #e7e6ec; /* Old browsers */
	background: -moz-linear-gradient(top, #e7e6ec 0%, #d0cdc7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e6ec), color-stop(100%,#d0cdc7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e6ec 0%,#d0cdc7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e6ec 0%,#d0cdc7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e6ec 0%,#d0cdc7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7e6ec 0%,#d0cdc7 100%); /* W3C */
}

.grayline {
	position: relative;
	right: -690px;
	bottom: 149px;
	background: rgb(195, 192, 181);
	height: 10px;
	width: 200px;
}

/*End Styling for Upcoming Content*/
/*Begin Styling for Footer*/

.footer {
	background: rgb(84, 83, 82);
	color: rgb(214, 209, 209);
	text-shadow: 0 1px 1px #000;

}

.footer .social {
	margin: 6px 0px;
	border-bottom: 1px solid rgb(62, 60, 60);
	width: 220px;
	padding-bottom: 5px;
}

.footer .social:last-child {
	border-bottom: none;
}

.footer .social img {
	margin-left: -4px;
}

.footer p {
	padding: 0;
	width: 200px;
}

.footer .fineprint {
	color: rgb(214, 209, 209);
	margin: 8px 0 15px 0;
}

.footer-info {
	display: inline-block;
	margin-bottom: 50px;
}

.footer-info h3 {
	margin-bottom: 9px;
	color: white;
	font-size: 18px;
}
.btn-group {
	display: inline-block;
	margin-right: 18px;
}

.btn-small {
	text-align: center;
	border: 1px solid rgb(62, 60, 60);
	width: 139px;
	height: 37px;
	color: white;
	font-size: 13px;
	line-height: 37px;
	letter-spacing: 1px;
	border-radius: 6px;
	margin: 5px 0px 10px 0px;
	text-shadow: 0 1px 1px black;
	box-shadow: inset 0 1px 0px #A69F9F;
	background: rgb(99, 99, 98);
}

.footer-info .center {
	width: 240px;
	margin-left: 80px;
}

.input {
	background: white;
	width: 210px;
	height: 42px;
	border-radius: 5px;
	margin: 20px 0;
}

input {
	background: white;
	width: 210px;
	height: 40px;
	color: rgb(140, 140, 140);
	border-radius: 5px;
	border: none;
	box-shadow: inset 0 1px 4px #484D5F;
	padding-left: 10px;
	font-size: 13px;
	background: url(foot-inputcheck.png) no-repeat center right;
}

.footer-info .right {
	width: 240px;
	border-bottom: 1px solid rgb(62, 60, 60);
	padding-bottom: 21px;
	margin: 0 0 5px 70px;
}

.footer-info .button-gold {
	text-align: center;
	border: 1px solid rgb(195, 143, 38);
	width: 220px;
	height: 40px;
	color: white;
	font-size: 17px;
	line-height: 15px;
	letter-spacing: 1px;
	border-radius: 6px;
	margin: 20px 0px 0px 0px;
	padding-top: 15px;
	text-shadow: 0 1px 1px rgb(195, 143, 38);
	box-shadow: inset 0 1px 1px #fff,
										0 1px 3px rgb(50, 48, 48);
	background: #fcd833; /* Old browsers */
	background: -moz-linear-gradient(top, #fcd833 0%, #fca52e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd833), color-stop(100%,#fca52e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcd833 0%,#fca52e 100%); /* W3C */

}

.footer-info .button-gold span {
	line-height: 25px;
}

.copyright {
	margin: 0 0 5px 70px;
	font-size: 15px;
}